/* padding */
.p-2 {
    padding: 2px;
}
.p-5 {
    padding: 5px;
}
.p-10 {
    padding: 10px;
}
.p-15 {
    padding: 15px;
}
.p-20 {
    padding: 20px;
}
.p-25 {
    padding: 25px;
}
.p-30 {
    padding: 30px;
}
.p-35 {
    padding: 35px;
}
.p-50 {
    padding: 50px;
}
.pt-5 {
    padding-top: 5px;
}
.pt-7 {
    padding-top: 7px;
}

/* margin */
.m-auto {
    margin: auto;
}
.m-5 {
    margin: 5px;
}
.m-10 {
    margin: 10px;
}
.m-15 {
    margin: 15px;
}
.m-20 {
    margin: 20px;
}
.m-25 {
    margin: 25px;
}
.m-30 {
    margin: 30px;
}
.m-35 {
    margin: 35px;
}
.mb-15 {
    margin-bottom: 15px;
}
.mb-30 {
    margin-bottom: 30px;
}
.mt-15 {
    margin-top: 15px;
}
.mt-20 {
    margin-top: 20px;
}
.mt-50 {
    margin-top: 50px;
}
.mb-2 {
    margin-bottom: 2px;
}
.mb-5 {
    margin-bottom: 5px;
}
.mb-10 {
    margin-bottom: 10px;
}
.mb-20 {
    margin-bottom: 20px;
}
.mb-50 {
    margin-bottom: 50px;
}
.mr-5 {
    margin-right: 5px;
}
.mr-50 {
    margin-right: 50px;
}
.mr-70 {
    margin-right: 70px;
}
/* border */
.b-1 {
    border: 1px solid #c5c5c5;
}
.bb-1 {
    border-bottom: 1px solid #c5c5c5;
}
.bb-2 {
    border-bottom: 2px solid #c5c5c5;
}
.bt-2 {
    border-top: 2px solid #c5c5c5;
}
.bb-l-2 {
    border-bottom: 2px solid #e8e8e8;
}
.bt-l-2 {
    border-top: 2px solid #e8e8e8;
}

/* radius */
.border-radius-2 {
    border-radius: 2px;
}
.border-radius-3 {
    border-radius: 3px;
}

/* text-decoration */
.underline {
    text-decoration: underline;
}

/* font-size */
.f-12 {
    font-size: 12px;
}
.f-13 {
    font-size: 13px;
}
.f-14 {
    font-size: 14px;
}
.f-15 {
    font-size: 15px;
}
.f-16 {
    font-size: 16px;
}
.f-18 {
    font-size: 18px;
}
.f-24 {
    font-size: 24px;
}
.f-35 {
    font-size: 35px;
}

/* font-decoration */
.font-700 {
    font-weight: 700;
}

/* font-color */
.point {
    color: #00AEEF;
}
.medium-gray {
    color: #F7F7F7;
}
.medium-dart-gray {
    color: #E9E9E9;
}
.dark-gray {
    color: #A3A3A3;
}
.highlight {
    color: #6BCFF6;
}
.red {
    color: #ff0000;
}
.white {
    color: #fff;
}
.blk {
    color: #000;
}
.grn {
    color: #01f600;
}
.gray {
    color: #c5c5c5;
}

/* text indent */
.t-2em {
    text-indent: 2em;
}
.t-4em {
    text-indent: 4em;
}

/* bg */
.bg-gray {
    background-color: #c5c5c5;
}
.bg-dark-gray {
    background-color: #A3A3A3;
}
.bg-white {
    background-color: #fff;
}
.bg-point {
    background-color: #00AEEF;
}
.bg-highlight {
    background-color: #6BCFF6;
}

/* text-align */
.t-center {
    text-align: center;
}
.t-left {
    text-align: left;
}
.t-right {
    text-align: right;
}
.v-top {
    vertical-align: top;
}
.v-middle {
    vertical-align: middle;
}

/* position center */
.position-center {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

/* display */
.d-none {
    display: none;
}
.d-block {
    display: block;
}
.d-flex {
    display: flex;
}
.space-between {
    justify-content: space-between;
}
.d-inline-block {
    display: inline-block;
}

/* position */
.pos-r {
    position: relative;
}
.pos-a {
    position: absolute;
}

/* mouse */
.cursor {
    cursor: pointer;
}

/* width */
.w-5 {
    width: 5%;
}
.w-10 {
    width: 10%;
}
.w-15 {
    width: 15%;
}
.w-20 {
    width: 20%;
}
.w-25 {
    width: 25%;
}
.w-30 {
    width: 30%;
}
.w-35 {
    width: 35%;
}
.w-40 {
    width: 40%;
}
.w-45 {
    width: 45%;
}
.w-50 {
    width: 50%;
}
.w-60 {
    width: 60%;
}
.w-65 {
    width: 65%;
}
.w-70 {
    width: 70%;
}
.w-80 {
    width: 80%;
}
.w-90 {
    width: 90%;
}
.w-95 {
    width: 95%;
}
.w-100 {
    width: 100%;
}

/* button */
.active-btn, .cancel-btn {
    background-color:#2D31FA;
    padding: 5px 10px;
    color: #fff;
    border-radius: 3px;
}
.cancel-btn {
    background-color:#c5c5c5!important;
}

.pg-btn {
    background-color:#fff;
    padding: 5px 10px;
    color: #000;
    border-radius: 2px;
    border: 1px solid #c5c5c5;
    cursor: pointer;
    margin-right: 3px;
}
.pg-btn:hover {
    background-color: #2879F7;
    color: #fff;
}
.pg-btn.disable:hover {
    background-color: #fff;
    color: #000;
    cursor: default;
}

/* common table */
.board-list{
    width : 100%;
    border: 1px solid #c5c5c5;
    text-align: center;
    /* border-collapse : collapse */
}

td,th{
    padding : 10px;
}

.main-content-table{
    width : 80%;
}

.main-content-table-search{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width : 100%;
}

/* input */
input {
    border: 1px solid transparent;
}

/* textarea */
textarea {
    border: 1px solid transparent; 
    resize:none;
}

/* select */
select {
    border: 1px solid #c5c5c5;
}

/* modal */
.modal { 
    position: absolute; 
    top: 0; 
    left: 0; 
    width: 100%; 
    height: 100%;
    z-index: 99999;
    background-color: rgba(0, 0, 0, 0.4); 
} 
.modal-body { 
    position: absolute; 
    top: 50%; 
    left: 50%; 
    width: 50%;  
    padding: 40px;
    text-align: center;
    z-index: 9999999; 
    background-color: rgb(255, 255, 255); 
    border-radius: 10px; 
    box-shadow: 0 2px 3px 2px rgba(34, 36, 38, 0.15); 
    transform: translateX(-50%) translateY(-50%); 
}

/* float */
.float-r {
    float: right;
}

/* menu */
.left-menu-item:hover {
    background-color: #2879F7;
    color: #fff;
}

td {
    padding: 10px;
}

/* scroll */
::-webkit-scrollbar {
    width: 5px;
}
::-webkit-scrollbar-thumb {
    background-color: #c5c5c5;
    border-radius: 10px;
}

/* category */
.notice {
    font-size: 10px;
    color: #fff;
    padding: 3px 2px;
    background-color: #c5c5c5;
}

/* scroll */
.scroll {
    overflow: auto;
}